{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>MoviesHunt</title>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" >
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" >
	<link href="{% static 'css/global.css' %}" rel="stylesheet">
	<link href="{% static 'css/index.css' %}" rel="stylesheet">
	<link href="{% static 'https://fonts.googleapis.com/css2?family=Lato&display=swap' %}" rel="stylesheet">
	<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

</head>
<body>
<section id="header">

<nav class="navbar navbar-expand-md navbar-light" id="navbar_sticky">
  <div class="container-fluid">
    <a class="navbar-brand fs-4 p-0 fw-bold text-white text-uppercase" href="index"><i class="fa fa-video-camera me-1 col_light fs-1 align-middle"></i> Movies Hunt</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-0">

        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="index">Home</a>
        </li>
		<li class="nav-item">
          <a class="nav-link" href="about">About </a>
        </li>



		<li class="nav-item">
          <a class="nav-link" href="event">Events</a>
        </li>

		<li class="nav-item">
          <a class="nav-link" href="team">team</a>
        </li>

		<li class="nav-item">
          <a class="nav-link active" href="contact">Contact</a>
        </li>

      </ul>
	  <ul class="navbar-nav mb-0 ms-auto">

        <li class="nav-item">
            <select name="categories" class="form-select bg-light" required="">
			<option value="">All Categories</option>
			<option>Movie</option>
			<option>Video</option>
			<option>Tv-Show</option>
			<option>Music</option>
			</select>

			<div class="input-group">
				<input type="text" class="form-control border-start-0" placeholder="Search Movie">
				<span class="input-group-btn">
					<button class="btn btn-primary bg_yell" type="button">
						<i class="fa fa-search"></i> </button>
				</span>
		</div>
        </li>

		<li class="nav-item ms-3">
          <a class="nav-link button" data-bs-toggle="" data-bs-target="" href="">SIGN UP</a>
        </li>
		<!-- /.modal -->

      </ul>
    </div>
  </div>
</nav>
</section>



<section id="contact" class="p_3 bg-light">
 <div class="container">
   <div class="row contact1">
      <div class="col-md-8">
	   <div class="contact1l">
	     <h3>SIGNUP</h3>
		   <form method="POST">
        {% csrf_token %}
		 <hr class="line">
		 <div class="blog1ld3 row mt-4">
		 <div class="col-md-6">

		  <div class="blog1ld3l">

		    <input class="form-control" placeholder="Username" type="text" name="username" id="username">
		  </div><br>
			 <div class="blog1ld3l">

		    <input class="form-control" placeholder="Lastname" type="text" name="last_name" id="last_name">
		  </div><br>
			 <div class="blog1ld3l">

		    <input class="form-control" placeholder="Password" type="password" name="password1" id="password1">
		  </div>

		 </div><br>
		 <div class="col-md-6">
		  <div class="blog1ld3l">
		    <input class="form-control" placeholder="FirstName" type="text" name="first_name" id="first_name">

		  </div>
			 <br>
			 <div class="blog1ld3l">
		    <input class="form-control" placeholder="Email" type="email" name="email" id="email">

		  </div>
			 <br>
			 <div class="blog1ld3l">
		    <input class="form-control" placeholder="Confirm Password" type="password" name="password2" id="password2">

		  </div>
		 </div>
		</div>

		<div class="blog1ld3 row">
		 <div class="col-md-12">
		  <div class="blog1ld3l">

			<h6 class="mb-0 mt-3"><input class="button_1" type="submit" value="SIGNUP"></h6>
		  </div>
		 </div>
		</div></form>{% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
	   </div>
	  </div>
	  <div class="col-md-4">
	   <div class="contact1r bg_red p-4 rounded-3 pt-5 pb-5 mt-4">
	     <h6 class="text-white"> <i class="fa fa-facebook me-1 align-middle"></i>  Facebook Account</h6>
		 <h6 class="text-white mt-3"> <i class="fa fa-twitter me-1 align-middle"></i>  Twitter Account</h6>
		 <h6 class="text-white mt-3"> <i class="fa fa-vimeo me-1 align-middle"></i>  Vimeo Account</h6>
		 <h6 class="text-white mt-3"> <i class="fa fa-instagram me-1 align-middle"></i>  Instagram Account</h6>
		 <h6 class="text-white mt-3 mb-0"> <i class="fa fa-youtube-play me-1 align-middle"></i>  Youtube Account</h6>
		 <h6 class="text-white mt-3"> <i class="fa fa-linkedin me-1 align-middle"></i>  Linkedin Account</h6>
		 <h6 class="text-white mt-3 mb-0"> <i class="fa fa-google me-1 align-middle"></i>  Google Account</h6>
	   </div>
	  </div>
   </div>


  </div>
</section>

<section id="subs" class="pt-5 pb-5 bg_red">
 <div class="container-xl">
   <div class="row subs_1">
    <div class="col-md-4">
	 <div class="subs_1l">
	  <h4 class="text-white mb-0 mt-2">GET UPDATE SIGN UP NOW !</h4>
	 </div>
	</div>
	<div class="col-md-8">
	 <div class="subs_1r">
	   <div class="input-group">
				<input type="text" class="form-control bg-transparent" placeholder="Enter Your Email">
				<span class="input-group-btn">
					<button class="btn btn-primary bg-white col_red" type="button">
						Submit </button>
				</span>
		</div>
	 </div>
	</div>
   </div>
 </div>
</section>

<section id="footer" class="p_3">
 <div class="container-xl">
   <div class="row footer_1">
     <div class="col-md-2">
	  <div class="footer_1i">
	   <h6 class="text-white fw-bold">LANGUAGE MOVIES</h6>
	   <hr class="line mb-4">
	   <div class="row footer_1i_small">
	   <h6 class="col-md-12 col-6"><i class="fa fa-circle me-1 col_red font_10"></i> <a class="text-muted" href="#">English Movie</a></h6>
	   <h6 class="mt-2 col-md-12 col-6"><i class="fa fa-circle me-1 col_red font_10"></i> <a class="text-muted" href="#">Tamil Movie</a></h6>
	   <h6 class="mt-2 col-md-12 col-6"><i class="fa fa-circle me-1 col_red font_10"></i> <a class="text-muted" href="#">Punjabi Movie</a></h6>
	   <h6 class="mt-2 col-md-12 col-6"><i class="fa fa-circle me-1 col_red font_10"></i> <a class="text-muted" href="#">Hindi Movie</a></h6>
	   <h6 class="mt-2 col-md-12 col-6"><i class="fa fa-circle me-1 col_red font_10"></i> <a class="text-muted" href="#">Malyalam Movie</a></h6>
	   <h6 class="mb-0 mt-2 col-md-12 col-6"><i class="fa fa-circle me-1 col_red font_10"></i> <a class="text-muted" href="#"> Action Movie</a></h6>
	   </div>
	  </div>
	 </div>
	 <div class="col-md-4">
	  <div class="footer_1i">
	   <h6 class="text-white fw-bold">TAG CLOUD</h6>
	   <hr class="line mb-4">
	   <ul class="mb-0">
	    <li class="d-inline-block"><a class="d-block" href="#">Analyze</a></li>
		<li class="d-inline-block"><a class="d-block" href="#">Audio</a></li>
		<li class="d-inline-block"><a class="d-block" href="#">Blog</a></li>
		<li class="d-inline-block"><a class="d-block" href="#">Business</a></li>
		<li class="d-inline-block"><a class="d-block" href="#">Creative</a></li>
		<li class="d-inline-block"><a class="d-block" href="#">Design</a></li>
		<li class="d-inline-block"><a class="d-block" href="#">Experiment</a></li>
		<li class="d-inline-block"><a class="d-block" href="#">News</a></li>
		<li class="d-inline-block"><a class="d-block" href="#">Expertize</a></li>
		<li class="d-inline-block"><a class="d-block" href="#">Express</a></li>
		<li class="d-inline-block"><a class="d-block" href="#">Share</a></li>
		<li class="d-inline-block"><a class="d-block" href="#">Sustain</a></li>
		<li class="d-inline-block"><a class="d-block" href="#">Video</a></li>
		<li class="d-inline-block"><a class="d-block" href="#">Youtube</a></li>
	   </ul>
	  </div>
	 </div>
	 <div class="col-md-2">
	  <div class="footer_1i">
	   <h6 class="text-white fw-bold">BY PRESENTER</h6>
	   <hr class="line mb-4">
	   <div class="row footer_1i_small">
	   <h6 class="col-md-12 col-6"><i class="fa fa-circle me-1 col_red font_10"></i> <a class="text-muted" href="#">Action Movie</a></h6>
	   <h6 class="mt-2 col-md-12 col-6"><i class="fa fa-circle me-1 col_red font_10"></i> <a class="text-muted" href="#">Romantic Movie</a></h6>
	   <h6 class="mt-2 col-md-12 col-6"><i class="fa fa-circle me-1 col_red font_10"></i> <a class="text-muted" href="#">Other Movie</a></h6>
	   <h6 class="mt-2 col-md-12 col-6"><i class="fa fa-circle me-1 col_red font_10"></i> <a class="text-muted" href="#">Comedy Movie</a></h6>
	   <h6 class="mt-2 col-md-12 col-6"><i class="fa fa-circle me-1 col_red font_10"></i> <a class="text-muted" href="#">Drama Movie</a></h6>
	   <h6 class="mb-0 mt-2 col-md-12 col-6"><i class="fa fa-circle me-1 col_red font_10"></i> <a class="text-muted" href="#">Classical Movie</a></h6>
	   </div>

	  </div>
	 </div>
	 <div class="col-md-4">
	  <div class="footer_1i">
	   <h6 class="text-white fw-bold">SUBSCRIPTION</h6>
	   <hr class="line mb-4">
	   <p class="text-muted">Subscribe your Email address for latest news & updates.</p>
	   <input class="form-control bg-transparent" placeholder="Enter Email Address" type="text">
	   <h6 class="mb-0 mt-4"><a class="button_1 pt-3 pb-3" href="#">Submit <i class="fa fa-check-circle ms-1"></i> </a></h6>
	  </div>
	 </div>
   </div>
 </div>
</section>

<section id="footer_b" class="pt-3 pb-3">
 <div class="container-xl">
   <div class="row footer_b1">
   <div class="col-md-8">
    <div class="footer_b1l">
	 <p class="mb-0 fs-6 text-muted mt-1">© 2013 Your Website Name. All Rights Reserved | Design by <a class="col_red" href="http://www.templateonweb.com">TemplateOnWeb</a></p>
	</div>
   </div>
   <div class="col-md-4">
    <div class="footer_b1r text-end">
	  <ul class="social-network social-circle mb-0">
					<li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
					<li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-pinterest"></i></a></li>
					<li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
				</ul>
	</div>
   </div>
  </div>
 </div>
</section>

<script>
window.onscroll = function() {myFunction()};

var navbar_sticky = document.getElementById("navbar_sticky");
var sticky = navbar_sticky.offsetTop;
var navbar_height = document.querySelector('.navbar').offsetHeight;

function myFunction() {
  if (window.pageYOffset >= sticky + navbar_height) {
    navbar_sticky.classList.add("sticky")
	document.body.style.paddingTop = navbar_height + 'px';
  } else {
    navbar_sticky.classList.remove("sticky");
	document.body.style.paddingTop = '0'
  }
}
</script>

</body>

</html>